html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
