#main-navigation {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px black;
	gap: 3rem;
}

#main-navigation a {
	text-decoration: none;
	color: rgba(rgb(15, 45, 75), green, blue, alpha);
}

#main-navigation div {
	display: flex;
	gap: 0.7rem;
}

#main-navigation p {
	margin-bottom: 0;
}
