@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: white;
}

::selection {
  color: red;
  background: white;
}

@layer base {
  img {
    @apply block max-w-full;
  }
}
@layer base {
  .facebook,
  .twitter,
  .signal {
    @apply flex flex-col items-center justify-center text-white w-[5rem] h-[5rem];
  }
}
@layer base {
  .top-stories > * {
    @apply text-white;
  }
  .top-stories h4 {
    @apply capitalize inline-block py-1 px-2 mb-2;
  }
  
}
