@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: white;
}

::selection {
  color: red;
  background: white;
}

@layer base {
  img {
    @apply block;
  }
}
@layer base {
  .facebook,
  .twitter,
  .signal {
    @apply  flex flex-col items-center justify-center text-white;
  }
}
